.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

dataset_raw/
*.zip

dataset_extracted/HAM10000_images_part_1/
dataset_extracted/HAM10000_images_part_2/

flask_app_backup_before_ui_polish/
flask_app_backup_working/
flask_app_final_polished_version/

flask_app/static/uploads/*
flask_app/static/outputs/*

!flask_app/static/uploads/.gitkeep
!flask_app/static/outputs/.gitkeep

.DS_Store
Thumbs.db
